body {
	background: #f0f0f0 none repeat scroll 0 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
    color: #414141; 
    font-family: 'Source Sans Pro', sans-serif;
}

/* elements */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea {
    background: #ffffff none repeat scroll 0 0;
    border: none;
    border-bottom: 1px solid #ababab;
    border-radius: 0;
    color: #939292;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    height: 34px;
    line-height: auto;
    padding: 0;
    width: 95%;
}

input[type="submit"], button, .blueButton {
    background: #40b2eb none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    vertical-align: middle;
}

input[type="submit"]:hover, button:hover, .blueButton:hover, input[type="submit"]:focus, button:focus, .blueButton:focus {
    background: #5cc6fc none repeat scroll 0 0;
}

.white-btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    color: #1a1a1a;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.875em;
    font-style: normal;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    padding: 0 18px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-right: 10px;
}

.txt-area {
    height: 100px;
}
/* elements : end */

.wrapper {
    background: #fff none repeat scroll 0 0 !important;
    width: 640px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    height: 500px;
}

.call-log-left {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    float: left;
    
        /* left header */
        .call-log-header {
            background: #1E88E5 none repeat scroll 0 0;
            width: 100%;
            display: inline-block;

            .header-wrapper {
                padding: 0 0 30px 30px;
            }
        }

        .call-log-body {
            background: #2196F3 none repeat scroll 0 0;
            width: 100%;
            display: inline-block;
            padding-bottom: 20px;
            min-height: 450px;
        } 
}

.call-log-right {
    width: 360px;
    display: inline-block;
    vertical-align: top;
    float: right;  
}

.body-wrapper {
    padding: 0 0 30px 30px;
}

/* titles */
.main-title {
    font-size: 15px;
    color: #bbdefb;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.caps-title {
    font-size: 13px;
    padding-top: 20px;
    text-transform: uppercase;
}

.sub-title {
    font-size: 14px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.call-num {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.inner-rows {
    display: inline-block;
    padding: 20px 0 0 0;
    width: 100%;
}

.title-wrapper {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0;
}

/* right title */
.right-wrapper {
    width: 320px;
    display: block;
    padding-left: 20px;
    height: 100%;

    .right-header {
        padding: 20px 0 0 0;
    }
}

.input-title {
    font-size: 15px;
    color: #757575;
    padding: 0;
    display: block;
    margin: 0 0 10px;
    width: 100%;
}

.input-sub-title {
    font-size: 15px;
    color: #757575;
    padding: 0;
    display: block;
    margin: 5px 0 0 0;
    width: 100%;
}

.hints {
    font-size: 15px;
    color: #1e88e5;
    padding: 0;
    display: inline-block;
    margin: 0;
    width: auto;
}

.hint-sub {
    font-size: 14px;
    color: #bdbdbd;
    padding: 0;
    display: inline-block;
    margin: 0;
    width: auto
}

.btn-wrapper {
    float: right;
    width: auto;
}

.sub-inner {
    display: block;
    margin-bottom: 10px;
    
    label {
        font-size: 15px;
        color: #757575;
    }
}

.sub-inner input {
    margin-left: 0;
}

.box-shadow {
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.4);
}


