.onlinestatus {
    color: #a7a7a7;
    font-size: 12px;  
}

.online {
    width: 8px;
    height: 8px;
    background-color: #aed581;
    border-radius: 50%;
}

.contact {
    background-color: #fff;
    border-bottom: 2px solid #f6f6f6;
    max-height: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.contact:hover {
    background-color: #F8F8F8;
}

.contact-wrapper {
    padding: 5px 10px 5px 10px;
}

.contactimg {
    margin-right: 20px;
    
}

.onlinestatus:before {
    width: 8px;
    height: 8px;
    background-color: #aed581;
    content: "";
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.name {
    color: #424242;
}

