.c-dialler {
	box-sizing: border-box;
	background: #fff;
	width: 100%;
	padding: 25px 15px;
	
	.c-dialler__country {
		font-family: 'Source Sans Pro', sans-serif;
		width: 100%;
		text-align: center;
		border: 0;
		font-size: 13px;
		color: #a7a7a7;
	}
}

.c-dialler__callbtn {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ff9800;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.26);
	transition: all .2s ease-in;
	cursor: pointer;
		
	i {
		color: #fff;
		font-size: 21px;
		line-height: 50px;
	}
		
	&:hover {
		margin-top: -5px;
	}
}

.c-dialler__numinput {
	position: relative;
	width: 100%;
	margin-top: 12px;
	
	.c-numinput__number {
		font-family: 'Source Sans Pro', sans-serif;
		box-sizing: border-box;
		width: 100%;
		padding-right: 45px;
		font-size: 30px;
		color: #424242;
		border: 0;
		text-align: right;
	}
	
	.c-numinput__backbtn {
		display: block;
		position: absolute;
		top: 12px;
		right: 15px;
		color: #e0e0e0;
		font-size: 18px;
	}
	
	.c-numinput__name {
		display: block;
		margin: 6px 0;
		width: 100%;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		color: #424242;
	}
}

.c-dialler__dial {
	display: table;
	width: 100%;
	text-align: center;
	
	.c-dial__row {
		display: table-row;	
	}
	
	.c-dial__cell {
		display: table-cell;
  		height: 50px;		
	}
	
	.c-dial__cell__key {
  		display: block;
		line-height: 50px;
		font-weight: 300;
		color: #2196f3;
		font-size: 35px;
		text-decoration: none;
	}
}