.user-contact:hover {
    background-color: #f4f4f4;
}

.user-img {
    background-image: url(../images/user-img.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top center;
    width: 40px;
    height: 40px;
    float: left;
}

.user-details {
    float: left;
    color: #424242;
    margin-left: 8px;
}

.user-profile {
    float: left;
}

.moreinfo {
    color: #a7a7a7;
    font-size: 11px;
    margin-bottom: 3px;
    
    i {
        font-size: 12px;
        margin-right: 10px;
    }
}

.quick-links {
    padding: 0px;
    margin: 7px 0px 7px 0px;
    
    li {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #2196f3;
        font-size: 12px;
        margin-right: 10px;
    }
}

.quick-links li:last-child {
    padding-right: 0px;
}

.quick-links li a {
    color: #2196f3;
    text-decoration: none; 
}

.contacts {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 381px;
}

.tab-title {
    margin-left: 15px;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
    width: 50%;
    display: inline-block;
}

.tab-title2 {
    display: inline-block;
    float: right;
    margin-left: 15px;
    color: #0d47a1;
    padding-top: 10px;
    width: 30%;
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
    margin-top: 4px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}
